<div class="container mt-2">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="titulo">
            <strong>Pasarela de pago</strong>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-6">
      <div class="card">
        <ng-container>
          <div class="card-body pt-0" [formGroup]="f">
            <div class="card-text">
              <div class="mt-2">
                <small for="name" class="form-label color-blue">Nombre</small>
                <input
                  type="text"
                  class="form-control py-3"
                  id="name"
                  placeholder="Nombre"
                  formControlName="name"
                  minlength="5"
                  maxlength="50"
                  required=""
                  [ngClass]="{
                    'is-invalid': name.invalid
                  }"
                />
              </div>

              <div class="mt-2">
                <small for="idType" class="form-label color-blue"
                  >Tipo de documento</small
                >
                <select
                  class="form-select py-3"
                  id="idType"
                  formControlName="idType"
                  [ngClass]="{
                    'is-invalid': idType.invalid
                  }"
                >
                  <option value="" disabled selected>Tipo de documento</option>
                  <option
                    *ngFor="let tipoDocumento of this.tiposDeDocumentos"
                    [value]="tipoDocumento.value"
                  >
                    {{ tipoDocumento.name }}
                  </option>
                </select>
              </div>

              <div class="mt-2">
                <small for="idValue" class="form-label color-blue"
                  >Número de documento</small
                >
                <input
                  type="text"
                  class="form-control py-3"
                  id="idValue"
                  placeholder="Ingrese el número de documento"
                  formControlName="idValue"
                  minlength="10"
                  maxlength="14"
                  [ngClass]="{
                    'is-invalid': idValue.invalid
                  }"
                />
              </div>

              <div class="mt-2">
                <small for="email" class="form-label">Correo</small>
                <input
                  type="text"
                  class="form-control py-3"
                  id="email"
                  placeholder="Correo"
                  formControlName="email"
                  minlength="5"
                  maxlength="50"
                  required
                  [ngClass]="{
                    'is-invalid': email.invalid
                  }"
                />
              </div>

              <div class="mt-2">
                <small for="cellphone" class="form-label color-blue"
                  >Celular</small
                >
                <input
                  type="text"
                  class="form-control py-3"
                  id="cellphone"
                  placeholder="Celular"
                  formControlName="cellphone"
                  minlength="7"
                  maxlength="10"
                  required
                  [ngClass]="{
                    'is-invalid': cellphone.invalid
                  }"
                />
              </div>

              <div class="mt-2">
                <small for="address" class="form-label color-blue"
                  >Direccion</small
                >
                <input
                  type="text"
                  class="form-control py-3"
                  id="address"
                  placeholder="Direccion"
                  formControlName="address"
                  minlength="5"
                  maxlength="50"
                  required
                  [ngClass]="{
                    'is-invalid': address.invalid
                  }"
                />
              </div>

              <div class="mt-2">
                <small for="country" class="form-label color-blue">Pais</small>
                <select
                  class="form-select py-3"
                  id="country"
                  formControlName="country"
                  [ngClass]="{
                    'is-invalid': country.invalid
                  }"
                  (change)="this.countryChange()"
                >
                  <option value="" disabled selected>Pais</option>
                  <option
                    *ngFor="let pais of this.allCountries"
                    [value]="pais.iso2"
                  >
                    {{ pais.name }}
                  </option>
                </select>
              </div>

              <div
                class="mt-2"
                *ngIf="
                  this.country.value && this.allStatesByCountry?.length > 0
                "
              >
                <small for="state" class="form-label color-blue">Estado</small>
                <select
                  class="form-select py-3"
                  id="state"
                  formControlName="state"
                  [ngClass]="{
                    'is-invalid': state.invalid
                  }"
                  (change)="this.stateChange()"
                >
                  <option value="" disabled selected>Estado</option>
                  <option
                    *ngFor="let estado of this.allStatesByCountry"
                    [value]="estado.iso2"
                  >
                    {{ estado.name }}
                  </option>
                </select>
              </div>

              <div
                class="mt-2"
                *ngIf="
                  this.country.value &&
                  this.state.value &&
                  this.allCities?.length > 0
                "
              >
                <small for="city" class="form-label color-blue">Ciudad</small>
                <select
                  class="form-select py-3"
                  id="city"
                  formControlName="city"
                  [ngClass]="{
                    'is-invalid': city.invalid
                  }"
                >
                  <option value="" disabled selected>Ciudad</option>
                  <option
                    *ngFor="let ciudad of this.allCities"
                    [value]="ciudad.id"
                  >
                    {{ ciudad.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-3">
            <strong>Detalles de la compra</strong>
          </h2>

          <!--Carrito de compras-->
          <ng-container *ngIf="this.cart">
            <div class="ps-block__content">
              <table class="table ps-block__products">
                <tbody>
                  <tr *ngFor="let cartItem of this.cart; let i = index">
                    <td>
                      <a (click)="this.goToProduct(cartItem.product)">{{
                        cartItem.product?.name
                      }}</a>
                      <p>
                        <strong>Cantidad: </strong>
                      </p>
                      <div class="quantity">
                        <input
                          type="number"
                          step="1"
                          min="1"
                          [max]="cartItem.product.stock"
                          name="quantity"
                          title="Qty"
                          class="input-text qty text"
                          size="4"
                          required
                          [(ngModel)]="cartItem.quantity"
                        />
                      </div>
                    </td>

                    <!--Eliminar-->
                    <td (click)="this.eliminarCartItem(cartItem)">
                      <img src="../../../assets/icons/trash3-fill.svg" alt="" />
                    </td>

                    <td class="text-right">
                      {{ cartItem.product.price | currency : "USD" }}
                    </td>
                  </tr>
                </tbody>
              </table>

              <h3 class="text-right">
                <strong>Total: </strong>
                <span>{{ this.total | currency : "USD" }}</span>
              </h3>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center mb-3">
              <strong> Metodos de pago </strong>
            </h2>
            <form>
              <ng-container *ngIf="this.findMetodoDePago('payu')">
                <div class="form-group">
                  <div class="ps-radio">
                    <input
                      class="form-control"
                      type="radio"
                      id="pay-payu"
                      name="payment-method"
                      value="payu"
                      [(ngModel)]="payMethod"
                    />

                    <label for="pay-payu"
                      >Pagar con PayU, PSE, Nequi, Tarjetas
                      <span
                        ><img
                          src="../../../assets/img/payu.jpg"
                          class="w-50" /></span
                    ></label>
                  </div>
                </div>

                <div class="row" [hidden]="payMethod != 'payu'">
                  <button
                    class="btn btn-primary btn-block bg-payu mb-2"
                    (click)="pagarPayU()"
                  >
                    Pagar con PayU
                  </button>
                </div>
              </ng-container>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
